<app-header></app-header>

<div class="cart-container">
    <div class="card my-cart-container">
        <div class="card-align">
        <h3 class="my-cart-header">
            My cart 
        </h3>
        <div class="container">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12" *ngFor="let book of books">
                <div class="card book-container m-3">
        <div class="img-content-align">
        <img [src]="book.bookEntity.bookImageUrl"  height="85" width="65">
        <div class="book-detail-align">
            <p class="book-title mb-1 mt-2">{{ book.bookEntity.bookName }}</p>
            <p class="book-author">By {{ book.bookEntity.bookAuthor }}</p>
            <p class="book-price">Rs {{ book.bookEntity.bookPrice }}</p>
            <div class="add-sub-align">
                <button (click)="subtraction(book)" class="sub-button">-</button>
                <p class="no-of-book-in-cart">{{book.cartQuantity}}</p>
                <button (click)="addition(book)" class="add-button">+</button>
                <button class="remove-func" (click)="removeCartItem(book)">Remove</button>
            </div>

        </div>
        </div>
    </div>
</div>
</div>
</div>
        <button class="cart-button" (click)="showAddressToFill()">PLACE ORDER</button>
        </div>
    </div>

    <div class="card customer-details-container">
        <div class="customer-details-align">
            <h3 class="customer-header">Customer Details</h3>
            <div *ngIf="showCustomerDetails">
                <form class="example-form" [formGroup]="customerDetailsForm" >
                    <div class="input-align">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Name</mat-label>
                            <input matInput placeholder="Ex. Nikhil" value="" formControlName="name">
                        </mat-form-field>
                        <mat-form-field class="example-full-width second-input" appearance="outline">
                            <mat-label>Phone Number</mat-label>
                            <input matInput placeholder="Ex. 2545345344" value="" formControlName="phoneNumber">
                        </mat-form-field>
                    </div>

                    <div class="input-align">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Pincode</mat-label>
                            <input matInput placeholder="Ex. 243400" value="" formControlName="pincode">
                        </mat-form-field>
                        <mat-form-field class="example-full-width second-input" appearance="outline">
                            <mat-label>Locality</mat-label>
                            <input matInput placeholder="Ex. BDA" value="" formControlName="locality">
                        </mat-form-field>
                    </div>

                    <div class="">
                        <mat-form-field class="textarea-align" appearance="outline">
                            <mat-label>Address</mat-label>
                            <textarea class="" matInput placeholder=" Ex. Address" style="height: 60px" formControlName="address"></textarea>
                        </mat-form-field>
                    </div>

                    <div class="input-align">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>city/town</mat-label>
                            <input matInput placeholder="Ex. Chennai" value="" formControlName="city">
                        </mat-form-field>
                        <mat-form-field class="example-full-width second-input" appearance="outline">
                            <mat-label>Landmark</mat-label>
                            <input matInput placeholder="Ex. landmark" value="" formControlName="landmark" >
                        </mat-form-field>
                    </div>

                    <div class="">
                        <mat-label class="label-space" for="type">Type</mat-label>
                        <div>
                        <mat-radio-group class="ml-9" ngDefaultControl aria-label="Select an option" formControlName="type">
                            
                            <mat-radio-button class="radio-button-align-first" value="Home" name="type">Home</mat-radio-button>
                            <mat-radio-button class="radio-button-align" value="Work" name="type">Work</mat-radio-button>
                            <mat-radio-button class="radio-button-align" value="Other" name="type">Other</mat-radio-button>
                        </mat-radio-group>
                        </div>
                    </div>
                    
                </form>
                <button class="place-order-button" (click)="showOrderSummary()">CONTINUE</button>
            </div>
        </div>
    </div>

    <div class="card order-details-container">
        <div class="order-details-align">
            <h3 class="customer-header">Order summary</h3>
            <div *ngIf="showOrdSummary">
                
                <div class="container">
                    <div class="row">
                      <div class="col-lg-6 col-md-6 col-sm-12" *ngFor="let book of books">
                        <div class="card book-container m-3">
                            <div class="img-content-align" >
                                <img [src]="book.bookEntity.bookImageUrl"  height="85" width="65">
                                <div class="book-detail-align">
                                    <p class="book-title mb-1 mt-2">{{ book.bookEntity.bookName }}</p>
                                    <p class="book-author">By {{ book.bookEntity.bookAuthor }}</p>
                                    <p class="book-price">Rs {{ book.bookEntity.bookPrice }}</p>
                                    <div class="add-sub-align">
                                        <!-- <button (click)="subtraction(book)" class="sub-button">-</button> -->
                                        <p class="no-of-book-in-cart">{{book.cartQuantity}}</p>
                                        <!-- <button (click)="addition(book)" class="add-button">+</button> -->
                                        <!-- <button class="remove-func" (click)="removeCartItem(book)">Remove</button> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p>TotalCost : {{totalCost()}}</p>
                    <p>TotalQuantity : {{totalQuantity()}}</p>
                </div>
            </div>
            <a routerLink="/order">
                <button class="place-order-button" (click)="checkout()">CHECKOUT</button>
            </a>
        </div>
        </div>
    </div>
</div>













<app-footer></app-footer>