<nav class="navbar navbar-expand navbar-light main-body">
    <div class="icon-align">
        <img src="../../../assets/images/education.png" height="24px" width="31px">
        </div>
        
        <div>
            <span class="BookStoreColor">Bookstore </span>
        </div>
        <form class="form-inline my-2 my-lg-0">
            <input class="searchBar form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                <i class="fas fa-search search-icon"></i> 
            </button> -->
        </form>

            <div class="cart-align">
                <p class="cartP">cart</p>
                <a routerLink="/cart">
                    <img src="../../../assets/images/supermarket.png" height="20px" width="21px">
                </a>
            </div>
        
            
        
        <span class="example-spacer"></span>
</nav>
