<app-header [cartItemCount]="cartItemCount"></app-header>

<div class="container">
<div class="row">
<div class="home-content ">
    <div class="header-content">
        <div class="book-header-align">
        <h2 class="books">Books</h2>
        <p class="no-of-book">(12 items)</p>
        </div>
        <div ngbDropdown class="d-inline-block ">
			<button type="button" class="drop-style" id="dropdownBasic1" ngbDropdownToggle>
				Sort by relevance
			</button>
			<div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropOption-font">
				<button ngbDropdownItem>Price : Low to High</button>
				<button ngbDropdownItem>Price : High to Low</button>
				<button ngbDropdownItem>Newest Arrivals</button>
			</div>
		</div>
    </div>

    
    <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-12" *ngFor="let book of books">
            <div class="card book-container m-3">
              <div class="book-img-bg text-center">
                <img [src]="book.bookImageUrl" class="book-image" />
              </div>
              <div class="p-3 text-center book-content">
                <p class="book-title mb-1 mt-2">{{ book.bookName }}</p>
                <p class="book-author">By {{ book.bookAuthor }}</p>
                <p class="book-price">Rs {{ book.bookPrice }}</p>
                <div *ngIf="!book.addedToCart">
                  <button class="add-to-bag-button" (click)="addToCart(book)">ADD TO BAG</button>
                  <button class="wishlist-button">WISHLIST</button>
                </div>
                <div *ngIf="book.addedToCart">
                    <button class="added-to-bag-button">ADDED TO CART</button>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    

</div>
</div>
</div>

<app-footer></app-footer>
