<app-header></app-header>

<div class="container">
<div class="row">
<div class="home-content ">
    <div class="header-content">
        <div class="book-header-align">
        <h2 class="books">Books</h2>
        <p class="no-of-book">(128 items)</p>
        </div>
        <div ngbDropdown class="d-inline-block ">
			<button type="button" class="drop-style" id="dropdownBasic1" ngbDropdownToggle>
				Sort by relevance
			</button>
			<div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropOption-font">
				<button ngbDropdownItem>Price : Low to High</button>
				<button ngbDropdownItem>Price : High to Low</button>
				<button ngbDropdownItem>Newest Arrivals</button>
			</div>
		</div>
    </div>

    <div class="d-flex flex-row justify-content-center">
        
        <div class=" book-contianer m-3">
            <div class="book-img-bg text-center">
                <div></div>
                <img src="../../../assets/images/Image 11.png" class="book-image "/>
            </div>
            <div class="p-3 text-center book-content">
                <p class="book-title mb-1 mt-2">Don't Make Me Think</p>
                <p class="book-author">By Author</p>
                <p class="book-price">Rs.1500</p>
                <div>
                    <!-- <button class="add-to-bag-button" onclick="addToCart()" id="cartButton">ADD TO BAG</button>
                    <button class="wishlist-button">WISHLIST</button> -->
                    <button class="added-to-bag-button">ADDED TO CART</button>
                </div>
            </div>
        </div>
        
        <div class=" book-contianer  m-3">
            <div class="book-img-bg text-center">
                <img src="../../../assets/images/Image 11.png" class="book-image "/>
            </div>
            <div class="p-3 text-center book-content">
                <p class="book-title mb-1 mt-2">Don't Make Me Think</p>
                <p class="book-author">By Author</p>
                <p class="book-price">Rs.1500</p>
                <div>
                    <button class="add-to-bag-button" onclick="addToCart()" id="cartButton">ADD TO BAG</button>
                    <button class="wishlist-button">WISHLIST</button>
                </div>
            </div>
        </div>

        <div class=" book-contianer  m-3">
            <div class="book-img-bg text-center">
                <img src="../../../assets/images/Image 11.png" class="book-image "/>
            </div>
            <div class="p-3 text-center book-content">
                <p class="book-title mb-1 mt-2">Don't Make Me Think</p>
                <p class="book-author">By Author</p>
                <p class="book-price">Rs.1500</p>
                <div>
                    <button class="add-to-bag-button" onclick="addToCart()" id="cartButton">ADD TO BAG</button>
                    <button class="wishlist-button">WISHLIST</button>
                </div>
            </div>
        </div>

        <div class=" book-contianer  m-3">
            <div class="book-img-bg text-center">
                <img src="../../../assets/images/Image 11.png" class="book-image "/>
            </div>
            <div class="p-3 text-center book-content">
                <p class="book-title mb-1 mt-2">Don't Make Me Think</p>
                <p class="book-author">By Author</p>
                <p class="book-price">Rs.1500</p>
                <div>
                    <button class="add-to-bag-button" onclick="addToCart()" id="cartButton">ADD TO BAG</button>
                    <button class="wishlist-button">WISHLIST</button>
                </div>
            </div>
        </div>    
    </div>

    <div class="d-flex flex-row justify-content-center">
        <div class=" book-contianer  m-3">
            <div class="book-img-bg text-center">
                <img src="../../../assets/images/Image 11.png" class="book-image "/>
            </div>
            <div class="p-3 text-center book-content">
                <p class="book-title mb-1 mt-2">Don't Make Me Think</p>
                <p class="book-author">By Author</p>
                <p class="book-price">Rs.1500</p>
                <div>
                    <button class="add-to-bag-button" onclick="addToCart()" id="cartButton">ADD TO BAG</button>
                    <button class="wishlist-button">WISHLIST</button>
                </div>
            </div>
        </div>
        
        <div class=" book-contianer  m-3">
            <div class="book-img-bg text-center">
                <img src="../../../assets/images/Image 11.png" class="book-image "/>
            </div>
            <div class="p-3 text-center book-content">
                <p class="book-title mb-1 mt-2">Don't Make Me Think</p>
                <p class="book-author">By Author</p>
                <p class="book-price">Rs.1500</p>
                <div>
                    <button class="add-to-bag-button" onclick="addToCart()" id="cartButton">ADD TO BAG</button>
                    <button class="wishlist-button">WISHLIST</button>
                </div>
            </div>
        </div>

        <div class=" book-contianer  m-3">
            <div class="book-img-bg text-center">
                <img src="../../../assets/images/Image 11.png" class="book-image "/>
            </div>
            <div class="p-3 text-center book-content">
                <p class="book-title mb-1 mt-2">Don't Make Me Think</p>
                <p class="book-author">By Author</p>
                <p class="book-price">Rs.1500</p>
                <div>
                    <button class="add-to-bag-button" onclick="addToCart()" id="cartButton">ADD TO BAG</button>
                    <button class="wishlist-button">WISHLIST</button>
                </div>
            </div>
        </div>

        <div class=" book-contianer  m-3">
            <div class="book-img-bg text-center">
                <img src="../../../assets/images/Image 11.png" class="book-image "/>
            </div>
            <div class="p-3 text-center book-content">
                <p class="book-title mb-1 mt-2">Don't Make Me Think</p>
                <p class="book-author">By Author</p>
                <p class="book-price">Rs.1500</p>
                <div>
                    <button class="add-to-bag-button" onclick="addToCart()" id="cartButton">ADD TO BAG</button>
                    <button class="wishlist-button">WISHLIST</button>
                </div>
            </div>
        </div>    
    </div>

    <div class="d-flex flex-row justify-content-center">
        <div class=" book-contianer  m-3">
            <div class="book-img-bg text-center">
                <img src="../../../assets/images/Image 11.png" class="book-image "/>
            </div>
            <div class="p-3 text-center book-content">
                <p class="book-title mb-1 mt-2">Don't Make Me Think</p>
                <p class="book-author">By Author</p>
                <p class="book-price">Rs.1500</p>
                <div>
                    <button class="add-to-bag-button" onclick="addToCart()" id="cartButton">ADD TO BAG</button>
                    <button class="wishlist-button">WISHLIST</button>
                </div>
            </div>
        </div>
        
        <div class=" book-contianer  m-3">
            <div class="book-img-bg text-center">
                <img src="../../../assets/images/Image 11.png" class="book-image "/>
            </div>
            <div class="p-3 text-center book-content">
                <p class="book-title mb-1 mt-2">Don't Make Me Think</p>
                <p class="book-author">By Author</p>
                <p class="book-price">Rs.1500</p>
                <div>
                    <button class="add-to-bag-button" onclick="addToCart()" id="cartButton">ADD TO BAG</button>
                    <button class="wishlist-button">WISHLIST</button>
                </div>
            </div>
        </div>

        <div class=" book-contianer  m-3">
            <div class="book-img-bg text-center">
                <img src="../../../assets/images/Image 11.png" class="book-image "/>
            </div>
            <div class="p-3 text-center book-content">
                <p class="book-title mb-1 mt-2">Don't Make Me Think</p>
                <p class="book-author">By Author</p>
                <p class="book-price">Rs.1500</p>
                <div>
                    <button class="add-to-bag-button" onclick="addToCart()" id="cartButton">ADD TO BAG</button>
                    <button class="wishlist-button">WISHLIST</button>
                </div>
            </div>
        </div>

        <div class=" book-contianer  m-3">
            <div class="book-img-bg text-center">
                <img src="../../../assets/images/Image 11.png" class="book-image "/>
            </div>
            <div class="p-3 text-center book-content">
                <p class="book-title mb-1 mt-2">Don't Make Me Think</p>
                <p class="book-author">By Author</p>
                <p class="book-price">Rs.1500</p>
                <div>
                    <button class="add-to-bag-button" onclick="addToCart()" id="cartButton">ADD TO BAG</button>
                    <button class="wishlist-button">WISHLIST</button>
                </div>
            </div>
        </div>    
    </div>

    

</div>
</div>
</div>

<app-footer></app-footer>
