<div class="container vh-100">
    <div class="row justify-content-center h-100">
        <div class="card my-auto shadow">
            <div class="card-body px-5">
                <div class="text-center">
                    <img src="../../../assets/images/success.png" width="40px" height="40px">
                </div>
                <div class="text-center ">
                    <h2>User Registered Successfully</h2>
                </div>
                <a routerLink="/login">
                <button class="login-button">Sign In</button>
                </a>
            </div>
            
        </div>
    </div>
</div>
